                            Python Basic's

- To Execute the cell press shift+enter.
- whenever we are going to new cell,we have four types of cells,
They are:
1.code
2.Markdown
3.RawNBconvert
4.Heading

Code:
    - if we need write any code just use the code cell.
Markdown:
    - Anytext we make as a heading or subtext we use Markdown.
RawNBconvert:
    - it is like a cell.which takes texts only but not executes.
Heading:
    - Any text we need make as a heading we use Heading cell.
    - and it is reprenented as a #
    - total we have six levels of headings.

                              Data Types

There are 2 Types of Data Types:
They are:
    - primitive Data Types
    - Non Primitive Data types
Primitive Data Types:
    - it is the combination alphabetic and numericals
    Numercials:
        -int------>1
        -float---->1.2
        -complex-->1+2j
    Alphabetics:
         -it the combinations of characherters.
             - string---->a,b,c,d,.....
- python is a line by line execution
- if a=10 we save this in memory it will save in ram temporarily.
- if anything is saved in memory and we need to see it means just call the varaible form python using caling varaible and print infornt of you.
- if we are giving same values to a variable again and again then that variable is going to overide.

                               Variables

- Varible is nothing but to store some information.
to define a variable we need to give a variable name.
for example:
    a=10 #here assigning 10 to a.
Rules to create a variable:
    - Variable name should not starts with a number.
    - instead of if you need to starts with number use underscore(_).
    - no white space and blank space is allowed.
    - pyhton is a case senstive.
    - no any speacial charcahters are used.
    !@$%^#&*()_+=".,/?";

In [1]:
a=10
a

10

In [2]:
b=20
print(b)

20

                        Print Condition

print("""i love python"""), it is version 1
print("i love python"),it is version 2
print('i love python'), it is prsent using verion.

In [3]:
print("""i love python""")# it is version 1
print("i love python")# it is version 2
print('i love python')# present version

i love python
i love python
i love python

                       Type Converstions

Type converstions means chaning one data types to another data type is known as type converstions.
int-float,int-str
float-str,float-int
str-int,str-float

In [5]:
#int-float,int-str
#int-float:
a=10
b=float(a)
print(a)
print(b)
print(type(a))
print(type(b))

10
10.0
<class 'int'>
<class 'float'>

In [6]:
#int-str
a=10
b=str(a)
print(a,type(a))
print(b,type(b))

10 <class 'int'>
10 <class 'str'>

In [9]:
#float-str,float-int
#float-str:
a=10.0
b=str(a)
print(a,type(a))
print(b,type(b))

10.0 <class 'float'>
10.0 <class 'str'>

In [10]:
#float-int:
a=10.0
b=int(a)
print(a,type(a))
print(b,type(b))

10.0 <class 'float'>
10 <class 'int'>

In [13]:
#str-int:
a='10'
b=int(a)
print(a,type(a))
print(b,type(b))

10 <class 'str'>
10 <class 'int'>

In [14]:
#str-float
a='10'
b=float(a)
print(a,type(a))
print(b,type(b))

10 <class 'str'>
10.0 <class 'float'>

                        Uses Of Prits

- we can call the variable from memory and also we can print whatever we need by just passing string inside the print
And we can add a string and varaible to a print by just using some specail charchters.
they are:
1.using comma(,)
2.using +
3.using {}
Using Comma(,):
    - ,comma is used a add a string and variable in a print condition.
    - ,comma is also provided 1 tab space defualtly.
Using +:
    - + will add if both are str.
Using {}:
    - it is so easy to add a string and variable because in real time everyone will use this method only

In [15]:
print('my name is saqlain and i love to do pratcise')

my name is saqlain and i love to do pratcise

In [16]:
#using comma:
# i need to spend 100 rupees to buy a charger
a=100
b='buy'
c='charger'
print('i need to spend',a,'rupees to',b,'a',c)

i need to spend 100 rupees to buy a charger

In [23]:
#using +
#i need to go hyderabad but bus fare is 100 rs.
a='hyderabad'
b='100'
print('i need to go'  +a+ 'but bus fare is' +b)

i need to gohyderabadbut bus fare is100

In [25]:
#using {}:
#data analysis is best course,comaparing with other software courses
a='data analysis'
b='comaparing'
c='software'
print(f'{a} is best course,{b} with other {c} courses')

data analysis is best course,comaparing with other software courses

                            operators

+ -->Addition
- -->Subraction
* -->Multiplcation
/ -->Division
// ->Floor Division
pow->Powerfunction(x,y)
> -->Grether than
< -->Less than
>= ->Grether than or equals to
<= ->Less than or equals to
= --> equals to
== ->double equals to
!= -> Not Equals to
% --> Mod Operator
** ->power

In [26]:
# +(Additon):
a=10
b=20
c=a+b
print(c)

30

In [28]:
# -(subraction):
a=10
b=20
c=a-b
c

-10

In [29]:
# *(multiplaction)
a=10
b=2
print(a*b)

20

In [30]:
# / (division)
a=10
b=2
a/b

5.0

In [31]:
# //(floor division)
a=10
b=2
a//b

5

In [33]:
#pow-powerfunction(x,y)
pow(2,5)

32

In [34]:
#<,>
10<20

True

In [35]:
10>20

False

In [37]:
10<=9

False

In [38]:
10>=20

False

In [39]:
a=10

In [40]:
a==10

True

In [42]:
a=20
a!=20

False

In [43]:
a=10
b=2
a%b

0

In [44]:
a=2
b=5
a**b

32

                              Libraries

- in python software we have lot of libraries
for ex math,pandas,numby,metopolips
- each libraries have lot of functions
function:
    - the task should be done which is assigned 
    - each function has its unique work
    - to use python libraries we need to import them
    syntax: ---> import <Lib name>
    - use librarie name name and single dout/tab to use all functions avaible in libraries.
    - inside a librarie we have lot of functions pick anyone of them and use them..

                           Python Data Structures

1.Strings
2.List
3.Touple
4.Sets
5.Dictionary

Strings:
    - String is a one of the data type which is defined as ''.
    - in python string is created by enclosing the characheters.
    - python allows us single quates,double quates or triple quates to create the string.
String Index:
    - string index means repersentating or giving some identity.
    - in python string index starts with zero 0.
Basically index is allocated into 2 types:
1.Forward direction.
2.backward direction.
Forward direction:
    - forward direction will always starts with zero.
    - and backward direction will always starts with -1
    - for an empty space also index is allocated
    - if we save a variable and string in the memory then both forward and backward directions will be created.
    

Slicing:
    -in index we can call a single charchter at a time.
    - but in the slicing concept we can call a range of charcahters.
    syntax---> var[s.i:e.i] and ending point will works with n-1 logic
    - in slicing three concepts are most important
    i.e.., var[s.p: ]
           var[ :e.p]
           var[ : ]
 
For Reverse:
    var[::-1]
    
Sikiping:
    - To Escaping or skiping the value
    syntax: var[::skip value]
    
- string is a immutable data type.
- because here we can replace the memory space but we cannot add or delete the memory space.
- mutable: means you can change the memory space
- immutable: means you cannot change the memory space

Built in Functions:
    - string has some built in functions
    - built in functions means the functions which are provided by python software.
1.Capitalize: it is used to capital the first word in a sentence.
2.title: it is used to capital every first letter in a word.
3.replace:it is used to replace the word to the memory space.
4.len: it is used to count the length of the variable.
5.count: it is used to count the each word how many times it is repeting
6.index: it is used to find the index of a variable.
7.lower:it is used to convert all leters in small.
8.upper: it is used to convert all letters in Capital.
9.islower: it checks whether the all letters are in lower or not.
10.isupper:it checks whether the all letters are in capital or not.
11.isalpha:it checks alphabets or not.
12.isnum: it checks numberic or not.
13.isalphanum: it checks if alphabetics or number then returns true/false.
14.membership functions: sub string present in a main string or not.
15.Asscii concepts:

In [11]:
a='hello'

In [13]:
a[0]

'h'

In [14]:
a='saqlain hyder'

In [19]:
print(a[7])

In [20]:
print(a[10])

d

In [22]:
print(a[-1])

r

In [23]:
print(a[-10])

l

In [24]:
print(a)

saqlain hyder

In [25]:
print(a[0:10])

saqlain hy

In [26]:
print(a[1:3])

aq

In [27]:
print(a[::-1])

redyh nialqas

In [29]:
print(a[0:5:-1])

In [30]:
a

'saqlain hyder'

In [31]:
print(a[0:7:2])

sqan

In [32]:
a='i love python'

In [33]:
print(a.capitalize())

I love python

In [34]:
print(a.title())

I Love Python

In [35]:
print(a)

i love python

In [37]:
print(len(a))

13

In [38]:
print(a.replace('love','like'))

i like python

In [45]:
print(a.count('o'))

2

In [44]:
a

'i love python'

In [46]:
print(a.index('i'))

0

In [47]:
print(a.index('y'))

8

In [48]:
print(a[2])

l

In [49]:
print(a.lower())

i love python

In [50]:
print(a.upper())

I LOVE PYTHON

In [51]:
print(a.islower())

True

In [52]:
print(a.isupper())

False

In [53]:
print(a.isalpha())

False

In [54]:
print(a.isalnum())

False

In [57]:
print(a.isnumeric())

False

In [58]:
a

'i love python'

In [61]:
print('v' not in a)

False

In [65]:
a="ab"
A="AB"

In [66]:
a>A

True

In [68]:
ord('a')

97

In [69]:
chr(97)

'a'

                                   List

- list is ordered pair.
- list is mutable data type
- means we can increase the memory space or we can decrese the memory space.
- list is represented as [].
- list will accepts any data type value.

Built in Functions:
1.Append: it is used to add a word at the end.
2.Clear: it is used to clear the data available in the varaible but variable is alive.
3.Copy: it i used to copy from one variable to another variable.
4.Count: it is used to count the no of words.
5.Index: it is used to find the index value.
6.extend: it is used to add mutiple words at the end of list.
7.insert: it is used to insert any word,wherever we need.
8.pop:it is used to remove the last index.
9.remove:it is used to remove a value directly.
10.reverse:it used to reverse the list.
11.sort:it is used to convert the list in accending and decending order.

In [70]:
a=[10,20,30,40,50]

In [71]:
a.append(10)

In [72]:
a

[10, 20, 30, 40, 50, 10]

In [73]:
b=a.copy()

In [74]:
b

[10, 20, 30, 40, 50, 10]

In [75]:
b.clear()

In [76]:
b

[]

In [77]:
a

[10, 20, 30, 40, 50, 10]

In [78]:
a.count(10)

2

In [80]:
a.index(10)

0

In [84]:
a.index(10,3,5)

ValueError: 10 is not in list

In [86]:
a.extend([10,20,30,50,60])

In [87]:
a

[10, 20, 30, 40, 50, 10, 10, 20, 30, 50, 60]

In [88]:
a.insert(0,1)

In [89]:
a

[1, 10, 20, 30, 40, 50, 10, 10, 20, 30, 50, 60]

In [90]:
a.pop()

60

In [91]:
a

[1, 10, 20, 30, 40, 50, 10, 10, 20, 30, 50]

In [92]:
a.remove(10)

In [93]:
a

[1, 20, 30, 40, 50, 10, 10, 20, 30, 50]

In [94]:
a.reverse()

In [95]:
a

[50, 30, 20, 10, 10, 50, 40, 30, 20, 1]

In [96]:
a.sort()

In [97]:
a

[1, 10, 10, 20, 20, 30, 30, 40, 50, 50]

In [98]:
a.sort(reverse=True)

In [99]:
a

[50, 50, 40, 30, 30, 20, 20, 10, 10, 1]

                                Touple

- Touple is a immutable data type.
- means we cant add or delete the memory space
- touple is represented as a ().
- touple will accepts any datatype value.
- you can pass as many values you want to the varaible in touple.

Built in Functions:
    - in python concept we have only 2 built in functions:
    1.count 
    2.index
#deep dive in index function..
    list_name.index(element,s,e)
 
Difference between string and touple:
    - string is a immutable data type,so we can add or delete the memory space.
    - touple is also same like string
    - in string we have built in function replace.with the help of replace we can replace the data to memory.
    - but in touple we have only 2 built in funtions they are count and index.so we cannot add or delete the memory space.
    - so both are immutable data types.

In [102]:
a=10,20 #here i am passing two values to variable
# bascially a varaible can hold single value.
#acording to python if a varible which is holding morethan 1 value then it will treat like a touple.

In [101]:
a
type(a)

tuple

In [103]:
a=(10,20,-10,'saqqu')

In [104]:
a

(10, 20, -10, 'saqqu')

In [105]:
a.count(10)

1

In [106]:
a.index(10)

0

IndexError: tuple index out of range

In [110]:
d='hyder'

In [112]:
print(d[2])

d

In [113]:
print(d.index('h'))

0

In [114]:
a=(10,20,0,10,0,10,10,30,40)

In [115]:
print(a.index(10,1,4))

3

In [116]:
print(a.index(0,3,7))

4

                                 Sets

- set is unordered pair.
- set is a mutable data types.
- means we can add or delete the memory space.
- set will save the data in memory randomly.
- every element will be unique.
- set is reprsented as {}.

Rules to remember in sets:
    - set does not have concept index.if there is no index then no slicing and skiping concepts.
    - set does not allows any dublicates.
    - as set is  mutable data type. inside the set it won't accepts mutable data type.
    - means only string and touple will accepts but not list and sets.
    
Built in Functions:
    1.add: it is used to add a single value
    2.update: it is used to add multiple values
    3.pop: it will remove any value randomly
    4.discard:if the value is avaible it will removes or else it remains silent
    5.remove:if the value is availble it will removes or else it will through an error
    6.copy: it is used to copy from one variable to another
    7.clear:it is used to clear all the values availble in varaible but variable is alive.
    8.union:it will add the two variables in a single variable.
    9.intersection:it will gives common letter.

In [117]:
a={1,4,7,9,9,40}

In [118]:
a

{1, 4, 7, 9, 40}

In [119]:
print(type(a))

<class 'set'>

In [120]:
a={10,20,30}

In [122]:
print(a[1])

TypeError: 'set' object is not subscriptable

In [123]:
a={1,1,2,3,4,5,6,1,1,1,11,}

In [124]:
a

{1, 2, 3, 4, 5, 6, 11}

In [125]:
a

{1, 2, 3, 4, 5, 6, 11}

In [133]:
a={1,2,3,('touple','saqqu'),'saqqu',{1,2,3}}

TypeError: unhashable type: 'set'

In [129]:
a

{('touple', 'saqqu'), 1, 2, 3, 'saqqu'}

In [131]:
a

{('touple', 'saqqu'), 1, 2, 3, 'saqqu'}

In [134]:
a

{('touple', 'saqqu'), 1, 2, 3, 'saqqu'}

In [135]:
a.add('hyder')

In [136]:
a

{('touple', 'saqqu'), 1, 2, 3, 'hyder', 'saqqu'}

In [137]:
a.update(['saqib',10,90,100])

In [138]:
a

{('touple', 'saqqu'), 1, 10, 100, 2, 3, 90, 'hyder', 'saqib', 'saqqu'}

In [139]:
a.pop()

1

In [140]:
a

{('touple', 'saqqu'), 10, 100, 2, 3, 90, 'hyder', 'saqib', 'saqqu'}

In [141]:
a.discard('ay')

In [142]:
a

{('touple', 'saqqu'), 10, 100, 2, 3, 90, 'hyder', 'saqib', 'saqqu'}

In [143]:
a.discard('hyder')

In [144]:
a

{('touple', 'saqqu'), 10, 100, 2, 3, 90, 'saqib', 'saqqu'}

In [145]:
a.remove('saqqu')

In [146]:
a

{('touple', 'saqqu'), 10, 100, 2, 3, 90, 'saqib'}

In [147]:
b={}

In [148]:
b=a.copy()

In [149]:
b

{('touple', 'saqqu'), 10, 100, 2, 3, 90, 'saqib'}

In [151]:
b.clear()

In [152]:
b

set()

In [153]:
a.union()

{('touple', 'saqqu'), 10, 100, 2, 3, 90, 'saqib'}

In [158]:
c={1,2,3,3,3}
d={3,4,5,6}
c.union(d)

{1, 2, 3, 4, 5, 6}

In [159]:
c.intersection(d)

{3}

                               Dictionary

- Dictionary is a mutable data type.
- means we can add or delete the memory space.
- dictionary is represented with {'key': ,'value':}.
- dictionary will accepts any data type value.
- dicitonary is like a excel data type(rows and coloumns).


we can use any data type as a key.
except mutable data types.

Rules to remember in dictionary:
    - dictionary key should be in int,string,float,touple vut not in list and sets
    keys: column name in excel data type.
    values: row name in a excel data type.
  
Built in Finctions:
    1.get: it is used to call the value based on key.
    2.update: it is used to add key and value to a dictionary
    3.keys: it is used to print only keys.
    4.values: it is used to print only values.
    5.items: it is used to print keys and values it is same like a printing the variable
    6.pop: it is used to remove specified key and value
    7.popitem:it will removes the last key.
    8.copy:it is used to copy from one variable to another variable
    9.clear: it is used to clear all the data availble in the varaible but variable is alive.

In [160]:
a={'name':'saqqu','age':21}

In [161]:
a

{'name': 'saqqu', 'age': 21}

In [162]:
type(a)

dict

In [163]:
a

{'name': 'saqqu', 'age': 21}

In [166]:
a.get('name')

'saqqu'

In [167]:
a.update({'location':'kosgi'})

In [168]:
a

{'name': 'saqqu', 'age': 21, 'location': 'kosgi'}

In [169]:
a.keys()

dict_keys(['name', 'age', 'location'])

In [172]:
a.values()

dict_values(['saqqu', 21, 'kosgi'])

In [173]:
a.items()

dict_items([('name', 'saqqu'), ('age', 21), ('location', 'kosgi')])

In [174]:
a

{'name': 'saqqu', 'age': 21, 'location': 'kosgi'}

In [175]:
a.pop('name')

'saqqu'

In [176]:
a

{'age': 21, 'location': 'kosgi'}

In [177]:
a.popitem()

('location', 'kosgi')

In [178]:
a

{'age': 21}

In [179]:
b=a.copy()

In [180]:
b

{'age': 21}

In [181]:
b.clear()

In [182]:
b

{}

                Conditional and Control statements

Control Statments:
    - For Loop
    - While Loop
  
For Loop:
    - For loop will having the starting point and ending point.
    - Ending point will works with n-1 logic.
    - in for loop we use itteration for some other purposes.
 
While loop:
    - in for loop we will having the starting and ending point and in range we having the fixed no of ityreartions.
    - in while loop we dont have any starting and ending point.
    - so while is a continues loops
    - so we need to break the loop explicitly.
    
Conditional Statements:
    - if
    - else
    - elif
    - break
If:
    - it will check the condition,if the condition is satisfies then it will goes inside.or else it will remains silent.
Else:
    - it will check the condition,if the condition is satisfies then it will goes inside and if the condition is not satisfies then else statement block will executes.
Elif:
    - it is like a small brother.
    - elif is used to write multiple if conditions.
Break:
    - it is used to stop at a certain point.
 
and/or
- in add both the condition should be true
- in or only anyone condition should be true.

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
for i in range(1,7):
    print('good morning')

good morning
good morning
good morning
good morning
good morning
good morning

In [3]:
for i in range(1,11):
    print('i love python')

i love python
i love python
i love python
i love python
i love python
i love python
i love python
i love python
i love python
i love python

In [4]:
print('i am saqqu')
for i in range(1,5):
    print('i love python')
print('i am from kosgi')

i am saqqu
i love python
i love python
i love python
i love python
i am from kosgi

In [7]:
a=10
if a<20:
    print('python')

python

In [6]:
a

10

In [8]:
a=10
if a>20:
    print('pass')
else:
    print('fail')

fail

In [9]:
a=10
b=20
c=30

In [23]:
if a>b:
    print('grade a')
elif a>c:
    print('grade B')
else a<c:
    print('grade C')

SyntaxError: expected ':' (831032470.py, line 5)

In [25]:
if a>b :
    print('grade A')
elif a>c :
    print('grade B')
else:
    print('grade C')

grade C

In [24]:
budget=80
iphone=100
samsung=40

In [26]:
if budget>iphone:
    print('pass')
elif budget<samsung:
    print('fail')
else:
    print('c')

c

In [32]:
#from the values 11 to 21 print even numbers
for i in range(11,22):
    if i % 2==0:
        print(f'{i}, even number')

12, even number
14, even number
16, even number
18, even number
20, even number

In [36]:
#for odd
for i in range(11,22):
    if i%2!=0:
        print(f'{i},odd numbers')

11,odd numbers
13,odd numbers
15,odd numbers
17,odd numbers
19,odd numbers
21,odd numbers

In [39]:
for i in range(1,19):
    print(i)
    if i==17:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

In [41]:
for i in range(1,20):
    print(i)
    if i==14:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [43]:
#and
if 18%2==0 and 12%2==0:
    print('i love')

i love

In [44]:
#or
if 18%2==0 or 19%2==0:
    print('i love')

i love

In [45]:
#from the values 12 to 50 print the values
#which are satisfying with both 3 and 5
for i in range(12,51):
    if i%3==0 and i%5==0:
        print(i)

15
30
45

In [48]:
#total values needed 5 outcomes.
#starting from 0 and gap should be 2 for each number.
for i in range(0,5):
    print(i*2)

0
2
4
6
8

In [57]:
#from the values 11 to 20.
#find the even numbers and print the even number in decending order
c=[]
for i in range(11,21):
    if i%2==0:
        print(f'{i}')
        c.append(i)
        c.sort(reverse=True)
print(c)

12
14
16
18
20
[20, 18, 16, 14, 12]

In [59]:
#find the even and odd numbers in the given range 21 to 31
for i in range(21,32):
    if i%2==0:
        print(f'{i} even')
    else:
        print(f'{i} odd')

21 odd
22 even
23 odd
24 even
25 odd
26 even
27 odd
28 even
29 odd
30 even
31 odd

In [95]:
#find the whether the given number is a perfect number or not.
# the sum of divisible of a number should be equal to a given number
n=1
count=0
for i in range(1,12):
    if n%i==0:
        count=count+i
if count==n:
        print(f'{i} is a perfect number')
else:
        print('invalid')

11 is a perfect number

In [80]:
#find the given number is prime number or not
#the number which is divisible by the value 1 and number iteself.
n=7
count=0
for i in range(1,12):
    if n%i==0:
        count=count+i
if count==8:
    print(f'{i} is a prime number')
else:
    print(f'{i} is not a prime number')

7 is a prime number

In [87]:
#find the factiorial of a given number:
f=1
n=7
for i in range(1,n+1):
    f=f*i

print(f)

5040

In [96]:
#string
a='saqqu'
for i in a:
    print(i)

s
a
q
q
u

In [98]:
#list
a=[10,20,30]
for i in a:
    print(i)

10
20
30

In [99]:
#touple:
a=(10,20,'saqqu')
for i in a:
    print(i)

10
20
saqqu

In [100]:
#set
a={1,2,3,4}
for i in a:
    print(i)

1
2
3
4

In [102]:
#dict
a={'key':'value'}
for i in a:
    print(i)

key

In [107]:
a=[10,20,30,40]
count=0
for i in a:
    count=count+i
    print(i)
print(count/len(a))

10
20
30
40
25.0

In [109]:
a=[10,20,30,40]
count=0
for i in a:
    count=count+i
print(count/len(a))

25.0

In [116]:
a=[1,5,9,11,[10,20]]
count=0
c=[]
for i in a:
    if type(a)==int:
        count=count+i
    elif type(a)==list:
          c.append(i)
print(count)

TypeError: 'int' object is not iterable

In [22]:
#find the perfect number:
n=int(input('enter any number:'))
count=0
for i in range(1,n+1):
    if i%n==0:
        count=count+i
if count==n:
    print(f'{n} is a perfect number')
else:
    print(f'{n} is not a perfect number')

enter any number:5
5 is a perfect number

In [21]:
#find the given number is a prime number or not
n=int(input('enter any number:'))
count=0
for i in range(1,n+1):
    if n%i==0:
        count=count+1
if count==2:
    print(f'{n} is a prime number')
else:
    print(f'{n} is not a prime number')

enter any number:7
7 is a prime number

In [18]:
n=int(input('enter any number'))
sum=0
for i in range(1,n):
    if n%i==0:
        sum=sum+i
if sum==n:
    print(f'{n} is a perfect number')
else:
    print(f'{n} is not a perfect number')

enter any number6
6 is a perfect number

In [23]:
#find the avarage of 
a=[10,20,30,40]
count=0
for i in a:
    count=count+i
print(count/len(a))

25.0

In [28]:
a=[1,5,9,11,[10,20]]
count=0
c=[]
for i in a:
    if type(i)==int:
        count=count+i
    elif type(i)==list:
        c.append(i)
print(c)
print(count)
s=0
for j in c[0]:
        s=s+j
print(s)
print(s+count)

[[10, 20]]
26
30
56

In [30]:
def fun(a,b):
    print(a+b)
a=10
b=20

In [33]:
fun(a,b)

30

In [34]:
def fun(x,y):
    print(x+y)

In [35]:
fun(10,20)

30

In [36]:
def fun(a,b):
    for i in range(a,b):
        if i%2==0:
            print(i,'even')
        else:
            print(i,'odd')

In [37]:
fun(1,11)

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even

In [38]:
def prime(n):
    count=0
    for i in range(1,n+1):
        if n%i==0:
            count=count+1
    if count==2:
        print(f'{n} is a prime number')
    else:
        print(f'{n} is not a prime number')

In [40]:
prime(1)

1 is not a prime number

In [41]:
prime(2)

2 is a prime number

In [42]:
prime(7)

7 is a prime number

In [46]:
def fun(x,y):
    print(x+y)
a=10
b=10

In [47]:
fun(a,b)

20

In [48]:
def fun(x=100,y=200):
    print(x+y)
a=10
b=90

In [49]:
fun(a,b)

100

In [50]:
def fun(a,b):
    print(a+b)

In [51]:
fun(a=10,b=-5)

5

In [56]:
def fun():
        print('good morning')   #this is non parameter function

In [57]:
fun()

good morning

In [58]:
def fun(a,b):
    print(a+b)

In [59]:
fun(10,20) #parameter function

30

In [75]:
def table(n):
  
    for i in range(1,11):
        print(n,'*',i,'=',n*i)

In [78]:
n=int(input('enter any number:'))
for i in range(1,11):
    print(n,'*',i,'=',n*i)

enter any number:5100
5100 * 1 = 5100
5100 * 2 = 10200
5100 * 3 = 15300
5100 * 4 = 20400
5100 * 5 = 25500
5100 * 6 = 30600
5100 * 7 = 35700
5100 * 8 = 40800
5100 * 9 = 45900
5100 * 10 = 51000

In [74]:
table(10)

enter any number:10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [76]:
table(20)

20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200

In [77]:
table(2000)

2000 * 1 = 2000
2000 * 2 = 4000
2000 * 3 = 6000
2000 * 4 = 8000
2000 * 5 = 10000
2000 * 6 = 12000
2000 * 7 = 14000
2000 * 8 = 16000
2000 * 9 = 18000
2000 * 10 = 20000