                            Print Condition

- in python we can print anything using single quates,double quates & triple quates.
- in real time eveyone will use the single quates.
print("""My name is Saqqu""") #python version1
print("my name is saqqu") #python version2
print('my name is saqqu') #python present version

In [1]:
print("""my name is saqqu""")

my name is saqqu

In [2]:
print("my name is saqqu")

my name is saqqu

In [3]:
print('my name is saqqu')

my name is saqqu

                        Type Converstions

Chaning one data type to another data type is known as type converstions.
int-float,int-str
float-int,float-str
str-int,str-float

In [4]:
#int-float
a=10
b=float(a)
print(a)
print(b)
print(type(a))
print(type(b))

10
10.0
<class 'int'>
<class 'float'>

In [5]:
#int-str
a=10
b=str(a)
print(a)
print(b)
print(type(a))
print(type(b))

10
10
<class 'int'>
<class 'str'>

In [6]:
#float-int
a=10.02
b=int(a)
print(a)
print(b)
print(type(a))
print(type(b))

10.02
10
<class 'float'>
<class 'int'>

In [7]:
#float-str
a=10.09
b=str(a)
print(a)
print(b)
print(type(a))
print(type(b))

10.09
10.09
<class 'float'>
<class 'str'>

In [8]:
#str-int
a='10'
b=int(a)
print(a)
print(b)
print(type(a))
print(type(b))

10
10
<class 'str'>
<class 'int'>

In [9]:
#str-float
a='10'
b=float(a)
print(a)
print(b)
print(type(a))
print(type(b))

10
10.0
<class 'str'>
<class 'float'>

                           Uses of Print

- we can call a varaible from the memory and also we can print whatever we need by just passing string inside the print

we can add a string and varaible to the print condition using some ways:
- using ,
- using +,&
- using f'{}'.
using ,(comma):
    - ,comma is used to add a string and variable to the print condition.
    - , is also provided 1 tab space defualtly.
    
using +:
    - using + it will add a string or variable if both are string
    - but it does'nt give any tab space.
    
using {}:
    - in real time every one is using {}.
    - it is easy to use.

In [10]:
b=30
print('my age is:',b)

my age is: 30

In [12]:
a=10
b=50.5
#i spent 10 rs in 50.5 hrs
print('i spent',a,'rs in',b,'hrs')

i spent 10 rs in 50.5 hrs

In [14]:
a=30
print('my age is'+str(a))

my age is30

In [15]:
a=10
b=50.5
#i spent 10 rs in 50.5 hrs
print('i spent'+str(a)+'rs in'+str(b)+'hrs')

i spent10rs in50.5hrs

In [16]:
a=30
print(f'my age is {a}')

my age is 30

In [17]:
a=10
b=50.5
#i spent 10 rs in 50.5 hrs
print(f'i spent {a} rs in {b} hrs')

i spent 10 rs in 50.5 hrs